$content-wrapper-height: calc(100vh - 42px);
$mainBody-height: calc($content-wrapper-height - 70px);
$topNav-icon-width: 1.5em;
$topNav-icon-height: 1.5em;
$table-font-size : 0.875em;
$clinic-sideNav-width:5em;